<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><center>Hola soy un sitio web!</center></h1>
    <p>
         <!--Dentro de la doble llave ponemos el nombre de una 
            de las claves del diccionario-->
        Hola {{nombre}} {{apellido}}<br>
        Hoy es: {{fecha}}
    </p>
</body>
</html>